Checks: '-*,readability-identifier-naming,cppcoreguidelines-*,clang-analyzer-*,performance-*,llvm-*'
HeaderFilterRegex: .*
CheckOptions:
    - {key: readability-identifier-naming.NamespaceCase,            value: lower_case}
    - {key: readability-identifier-naming.ClassCase,                value: CamelCase }
    - {key: readability-identifier-naming.StructCase,               value: CamelCase }
    - {key: readability-identifier-naming.FunctionCase,             value: lower_case}
    - {key: readability-identifier-naming.VariableCase,             value: lower_case}
    - {key: readability-identifier-naming.MethodCase,               value: lower_case}
    - {key: readability-identifier-naming.MemberCase,               value: lower_case}
    - {key: readability-identifier-naming.PrivateMemberPrefix,      value: m_}
    - {key: readability-identifier-naming.ProtectedMemberPrefix,    value: m_}
    - {key: readability-identifier-naming.ConstantMemberCase,       value: lower_case}
    - {key: readability-identifier-naming.ConstantCase,             value: lower_case}
    - {key: readability-identifier-naming.ClassMethodCase,          value: lower_case}
    - {key: readability-identifier-naming.ClassMemberCase,          value: lower_case}
    - {key: readability-identifier-naming.TypeAliasCase,            value: CamelCase}
    - {key: readability-identifier-naming.ParameterCase,            value: lower_case}
    - {key: readability-identifier-naming.MacroDefinitionCase,      value: UPPER_CASE}
    - {key: readability-identifier-naming.TemplateParameterCase,    value: CamelCase}

    
